In [18]:
import pandas as pd
from datetime import time
from pandas.tseries.offsets import Second
import plotly.express as px
import kaleido

df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)
# display(df)

df['Time'] = df['Time'].astype(str)
# df['Name'] = df['Name'].astype(str)
# df['Message'] = df['Message'].astype(str)

Time = df['Time'].str[:10]


Name = df["Time"].str[10:]
# display(Name)

Time = Time.str[1:]
Time = Time.str[:8]
Hour = Time.str[:2]
#Hour = pd.to_datetime.time
Minute = Time.str[:5]
Minute = Minute.str[3:]
Seconds = Time.str[:8]
Seconds = Seconds.str[6:]
#Time = float(Time)
#Time = pd.to_numeric(Time[Time.astype(str).str.isnumeric()])
Time = Hour+Minute+Seconds
df["Time"] = Time
#d.to_datetime(Time, format="%HH%MM%SS")
#Timetemp = time(hour= Hour.astype(int), minute=Minute.astype(int), second=Seconds.astype(int))

df["Time"] = Time
df["Name"] = Name
df["Message"] = df["Name"].str.split(':').str[1]
df["Name"] = df["Name"].str.split(':').str[0]

systemmessage = df["Name"].where(df["Name"].notna() & df["Message"].isna())
Name = df["Name"].where(df["Name"].notna() & df["Message"].notna()) #use this value when returning only user messages
#df = df.dropna()


df = df.drop(df[df['Time'] == ' Sar l'].index)



Time = df['Time']
df['Time'] = pd.to_datetime(Time, format='%H%M%S')

#df["Time"] = Time
#Systemmessages = df['Name'].where(df['Message'].isna(), df['Message'])

#df.dropna(subset = ['Name', 'Message'], inplace=True)

#df["System Messages"] = Systemmessages

Timelive = df.loc[df["Name"].str.contains(" is live!",na=False, case = False)]
display(Timelive)
liveindex = Timelive.index.values
liveindex = liveindex
#live = df.loc[df["Time"].index.values == liveindex].values[0]
Timelive = df.loc[liveindex]["Time"] + Second(n=-25)

Timelive.to_csv('TimeLive.txt', sep='\t', index=False, header=None)


with open('TimeLive.txt') as f:
    lines = f.readlines()

lines = str(lines)[13:21]
# for idx, x in enumerate(df):
#     df["Uptime"]

# lines = str(lines)[1:]
# lines = str(lines)[:8]
Hour = str(lines)[:2]
#Hour = pd.to_datetime.time
Minute = str(lines)[:5]
Minute = str(Minute)[3:]
Seconds = str(lines)[:8]
Seconds = str(Seconds)[6:]
#Time = float(Time)
#Time = pd.to_numeric(Time[Time.astype(str).str.isnumeric()])
lines = Hour+Minute+Seconds
df.insert(loc=3, column='Uptime', value=lines)
#df.fillna(Timelive, inplace=True)
df['Uptime'] = df['Uptime'].fillna(Timelive)

df['Uptime'] = pd.to_datetime(lines, format='%H%M%S')

uptime = df["Time"] - df["Uptime"]

uptime = uptime.astype(str)
uptime = uptime.str[8:]

Time = df["Time"]
df = df.drop(columns='Uptime')
df["Time"] = uptime

#df = df.dropna()

# df.to_csv('ChatHistory.txt', sep='\t', index=True)
# display(df)
# rats = df.loc[df["Message"].str.contains(" LETSGO",na=False, case = True)]
# display(rats)

# graph = px.histogram(rats, rats["Name"])

# graph.show()
# #graph.write_image("yourfile.png") 
# rats.to_csv('Gaygehistory.txt', sep='\t', index=True)

C:\Users\nicol\AppData\Local\Temp\ipykernel_13724\954519138.py:7: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                    Time                Name Message
1522 1900-01-01 14:22:22   LucyPyre is live!     NaN

In [19]:
# df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)
# # display(df)

# df['Time'] = df['Time'].astype(str)
# # df['Name'] = df['Name'].astype(str)
# # df['Message'] = df['Message'].astype(str)

# Time = df['Time'].str[:10]
# #display(Time)

# Name = df["Time"].str[10:]
# # display(Name)

# df["Time"] = Time
# df["Name"] = Name
# df["Message"] = df["Name"].str.split(':').str[1]
# df["Name"] = df["Name"].str.split(':').str[0]

# systemmessage = df["Name"].where(df["Name"].notna() & df["Message"].isna())
# Name = df["Name"].where(df["Name"].notna() & df["Message"].notna()) #use this value when returning only user messages

# df = df.dropna()

# #Systemmessages = df['Name'].where(df['Message'].isna(), df['Message'])

# #df.dropna(subset = ['Name', 'Message'], inplace=True)

# #df["System Messages"] = Systemmessages

# #display(df)
# df.to_csv('ChatHistory.txt', sep='\t', index=False)

In [20]:
df = pd.read_csv("ChatLog.log", sep=" \] ", header=None, names=["Time", "Name", "Message"], na_filter=False)
# display(df)

df['Time'] = df['Time'].astype(str)
# df['Name'] = df['Name'].astype(str)
# df['Message'] = df['Message'].astype(str)

Time = df['Time'].str[:10]


Name = df["Time"].str[10:]
# display(Name)

Time = Time.str[1:]
Time = Time.str[:8]
Hour = Time.str[:2]
#Hour = pd.to_datetime.time
Minute = Time.str[:5]
Minute = Minute.str[3:]
Seconds = Time.str[:8]
Seconds = Seconds.str[6:]
#Time = float(Time)
#Time = pd.to_numeric(Time[Time.astype(str).str.isnumeric()])
Time = Hour+Minute+Seconds
df["Time"] = Time
#d.to_datetime(Time, format="%HH%MM%SS")
#Timetemp = time(hour= Hour.astype(int), minute=Minute.astype(int), second=Seconds.astype(int))
display(Time)

df["Time"] = Time
df["Name"] = Name
df["Message"] = df["Name"].str.split(':').str[1]
df["Name"] = df["Name"].str.split(':').str[0]

systemmessage = df["Name"].where(df["Name"].notna() & df["Message"].isna())
Name = df["Name"].where(df["Name"].notna() & df["Message"].notna()) #use this value when returning only user messages
#df = df.dropna()


df = df.drop(df[df['Time'] == ' Sar l'].index)



Time = df['Time']
df['Time'] = pd.to_datetime(Time, format='%H%M%S')

#df["Time"] = Time
#Systemmessages = df['Name'].where(df['Message'].isna(), df['Message'])

#df.dropna(subset = ['Name', 'Message'], inplace=True)

#df["System Messages"] = Systemmessages

Timelive = df.loc[df["Name"].str.contains(" is live!",na=False, case = False)]
display(Timelive)
liveindex = Timelive.index.values
liveindex = liveindex
display(liveindex)
#live = df.loc[df["Time"].index.values == liveindex].values[0]
Timelive = df.loc[liveindex]["Time"] + Second(n=-25)

display(Timelive)

Timelive.to_csv('TimeLive.txt', sep='\t', index=False, header=None)


with open('TimeLive.txt') as f:
    lines = f.readlines()

lines = str(lines)[13:21]
print(lines)
# for idx, x in enumerate(df):
#     df["Uptime"]

# lines = str(lines)[1:]
# lines = str(lines)[:8]
print(lines)
Hour = str(lines)[:2]
print(Hour)
#Hour = pd.to_datetime.time
Minute = str(lines)[:5]
Minute = str(Minute)[3:]
print(Minute)
Seconds = str(lines)[:8]
Seconds = str(Seconds)[6:]
print(Seconds)
#Time = float(Time)
#Time = pd.to_numeric(Time[Time.astype(str).str.isnumeric()])
lines = Hour+Minute+Seconds
print(lines)
df.insert(loc=3, column='Uptime', value=lines)
#df.fillna(Timelive, inplace=True)
df['Uptime'] = df['Uptime'].fillna(Timelive)
display(df)

df['Uptime'] = pd.to_datetime(lines, format='%H%M%S')

uptime = df["Time"] - df["Uptime"]

uptime = uptime.astype(str)
uptime = uptime.str[8:]

Time = df["Time"]
df = df.drop(columns='Uptime')
df["Time"] = uptime

df.to_csv('Time.txt', sep='\t', index=True)
display(df)
display(df.info())

C:\Users\nicol\AppData\Local\Temp\ipykernel_13724\3852498140.py:1: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

0         Sar l
1        023711
2        023711
3        024908
4        024919
          ...
21310    191506
21311    191507
21312    191511
21313    191514
21314    191518
Name: Time, Length: 21315, dtype: object

                    Time                Name Message
1522 1900-01-01 14:22:22   LucyPyre is live!     NaN

array([1522], dtype=int64)

1522   1900-01-01 14:21:57
Name: Time, dtype: datetime64[ns]

14:21:57
14:21:57
14
21
57
142157

,Time,Name,Message,Uptime
1,1900-01-01 02:37:11,connected,NaN,142157
2,1900-01-01 02:37:11,joined channel,NaN,142157
3,1900-01-01 02:49:08,extrahu3,lucypyBlankies lucypyBlankies lucypyBlankies ...,142157
4,1900-01-01 02:49:19,extrahu3,ok freedom while im a awake for a few,142157
5,1900-01-01 02:49:21,extrahu3 turned off emote-only mode,NaN,142157
...,...,...,...,...
21310,1900-01-01 19:15:06,guywithnokoochie,FUCK YOU ZEUS YOUR A BITCH,142157
21311,1900-01-01 19:15:07,extrahu3,i be staying indeed,142157
21312,1900-01-01 19:15:11,afronooch,ok,142157
21313,1900-01-01 19:15:14,extrahu3,ZEUS A LIL BITCH LETSGO,142157
21314,1900-01-01 19:15:18,psychopathicturtle,Extra lives here,142157

,Time,Name,Message
1,+12:15:14,connected,NaN
2,+12:15:14,joined channel,NaN
3,+12:27:11,extrahu3,lucypyBlankies lucypyBlankies lucypyBlankies ...
4,+12:27:22,extrahu3,ok freedom while im a awake for a few
5,+12:27:24,extrahu3 turned off emote-only mode,NaN
...,...,...,...
21310,4:53:09,guywithnokoochie,FUCK YOU ZEUS YOUR A BITCH
21311,4:53:10,extrahu3,i be staying indeed
21312,4:53:14,afronooch,ok
21313,4:53:17,extrahu3,ZEUS A LIL BITCH LETSGO
21314,4:53:21,psychopathicturtle,Extra lives here

<class 'pandas.core.frame.DataFrame'>
Index: 21312 entries, 1 to 21314
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     21312 non-null  object
 1   Name     21312 non-null  object
 2   Message  21047 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

None

In [21]:
df["System Message"] = systemmessage

CheerRange =  range(1,100)
cheered = df.loc[df["Message"].str.contains('Cheer', na=False, case = False)] #Filters chatlog messages that contain keywords Cheer, the problem is that it also pulls emotes
cheeredremoval = cheered["Message"].str.contains('\d+') #this filters th

IndexesToKeep = cheeredremoval[cheeredremoval].index.values.tolist()


LearningFilters = cheered[cheered.index.isin(IndexesToKeep)] #using filter() and isin() 
display(LearningFilters) #thebasic idea is that it checks if the indexes of the dataframe are in the list provided, then assings those values to another dataframe

,Time,Name,Message,System Message
1609,0:01:54,1r0nf1st,"Cheer100 Cheer100 Cheer100 I LOVE LUCY, LUCY ...",NaN
3632,0:21:17,shoehornoplenty,Cheer300 Yesterday was so much fun Lucy. It r...,NaN
5783,0:43:09,kingblooy,Cheer2500,NaN
8398,1:06:42,1r0nf1st,Cheer100 Cheer100 Cheer100 dirt eaters? sound...,NaN
8679,1:10:15,guywithnokoochie,people really out here eating buckets of dirt...,NaN
11068,1:35:03,guywithnokoochie,I was talking about this the other day with a...,NaN
11383,1:36:36,akimes1234,Cheer100 Having lucy spit on u is the biggest...,NaN

In [22]:
df["System Message"] = systemmessage
df = df.drop(columns='Name')
df = df.drop(columns='Message')

gifted = df.loc[df["System Message"].str.contains("is gifting",na=False, case = False)]

subscribed = df.loc[df["System Message"].str.contains("subscribed at | subscribed with",na=False, case = False)] 

converted = df.loc[df["System Message"].str.contains("converted from",na=False, case = False)]


#lucy = df.loc[df["Name"].str.contains("lucypyre",na=False, case = False)]


frames2 = [gifted, cheered, subscribed, converted]
Result = pd.concat(frames2)
display(Result)
Result.to_csv('Gifted-Cheers-subs.txt', sep='\t', index=True)

,Time,System Message,Name,Message
879,+23:38:50,Graem117 is gifting 2 Tier 1 Subs to LucyPyre...,NaN,NaN
1531,0:00:33,frostynemesis86 is gifting 5 Tier 1 Subs to L...,NaN,NaN
1996,0:05:44,JCD_333 is gifting 10 Tier 1 Subs to LucyPyre...,NaN,NaN
2028,0:06:04,count_y is gifting 10 Tier 1 Subs to LucyPyre...,NaN,NaN
3830,0:22:32,GuysAWeeaboo is gifting 1 Tier 1 Subs to Lucy...,NaN,NaN
...,...,...,...,...
12657,1:48:48,tosted_garlic subscribed at Tier 1.,NaN,NaN
15481,2:41:17,ashan86 subscribed at Tier 1. They've subscri...,NaN,NaN
15630,2:43:48,Zookfoodle subscribed at Tier 1. They've subs...,NaN,NaN
18570,3:31:19,WhaTheFiretruck subscribed at Tier 1.,NaN,NaN
19348,3:47:32,snack1falcon subscribed with Prime.,NaN,NaN